
<style>
    #{{environment}}-widget{
        padding-bottom:5px;
    }
</style>
<form id="financePluginForm" method="post" >
    <div
        data-calculator-widget
        data-mode="calculator"
        data-amount="{{amount}}"
        data-plans="{{basket_plans}}"
        >
    </div>
</form>
<script>
    __widgetConfig = {
        apiKey: '{{api_key}}'
    }
</script>
<script src="https://cdn.divido.com/widget/dist/{{environment}}.calculator.js"></script>

<p>{{ redirection_msg }}</p>

<div class="buttons">
    <div class="pull-right">
        <input type="button" value="{{ confirm_label }}" id="button-confirm" class="btn btn-primary" data-loading-text="{{ loading_label }}" />
    </div>
</div>

<script>
(function($) {
    $(function () {
        $('#button-confirm').click(function() {
            var data = $("#financePluginForm").serializeArray();
            $.ajax({
                type     : 'post',
                url      : 'index.php?route=extension/payment/financePlugin/confirm',
                data     : data,
                dataType : 'json',
                cache    : false,
                beforeSend: function() {
                    $('#button-confirm').button('loading');
                },
                complete: function() {
                    $('#button-confirm').button('reset');
                },
                success: function(data) {
                    if (data.status == 'ok') {
                        location = data.url;
                    } else {
                        message = data.message || '{{ generic_credit_request_error }}';
                        $('#{{environment}}-checkout').prepend('<div class="alert alert-warning alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + message + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                    }
                }
            });
        });
    });
})(jQuery);
</script>
