
  <div
    data-calculator-widget
    data-plans="{{ plan_list }}"
    data-amount="{{ product_price }}"
    {{ widget_mode }}
    {{ widget_footnote }}
    {{ widget_btn_txt }}
  >
  </div>

  <script>
    __widgetConfig = {
      apiKey: '{{api_key}}'
    }
  </script>

  <script src="https://cdn.divido.com/widget/dist/{{environment}}.calculator.js"></script>