<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2">{{ text_order_info }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ proposal_id_label }}</td>
            <td>{{ proposal_id }}</td>
        </tr>
        <tr>
            <td>{{ application_id_label }}</td>
            <td>{{ application_id }}</td>
        </tr>
        <tr>
            <td>{{ deposit_amount_label }}</td>
            <td>{{ deposit_amount }}</td>
        </tr>
        {% if notification %}
        <tr>
            <td></td>
            <td><font color='green'>{{ notification }}</font></td>
        </tr>
        {% endif %}
        {% if(order_status == 'READY') %}
        <tr>
            <td>{{ activate_order_label }}</td>
            <td>
              <form method='post'>
                <input type="submit" name="activate" value="activate"></input>
              </form>
            </td>
        </tr>
        <tr>
            <td>{{ cancel_order_label }}</td>
            <td>
              <form method='post'>
                <input type="submit" name="cancel" value="cancel"></input>
              </form>
            </td>
        </tr>
        {% endif %}
        {% if(order_status == 'AWAITING-ACTIVATION') %}
        <tr>
            <td>{{ refund_order_label }}</td>
            <td>
              <form method='post'>
                <input type="submit" name="refund" value="refund"></input>
              </form>
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>
