<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2">{{ text_order_info }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ text_proposal_id }}</td>
            <td>{{ proposal_id }}</td>
        </tr>
        <tr>
            <td>{{ text_application_id }}</td>
            <td>{{ application_id }}</td>
        </tr>
        <tr>
            <td>{{ text_deposit_amount }}</td>
            <td>{{ deposit_amount }}</td>
        </tr>
        {% if notification %}
        <tr>
            <td></td>
            <td><font color='green'>{{ notification }}</font></td>
        </tr>
        {% endif %}
        {% if(order_status == 'READY') %}
        <tr>
            <td>{{ text_activate }}</td>
            <td>
              <form method='post'>
                <input type="submit" name="activate" value="{{ text_activate }}"></input>
              </form>
            </td>
        </tr>
        <tr>
            <td>{{ text_cancel }}</td>
            <td>
              <form method='post'>
                <input type="submit" name="cancel" value="{{ text_cancel }}"></input>
              </form>
            </td>
        </tr>
        {% endif %}
        {% if(order_status == 'AWAITING-ACTIVATION') %}
        <tr>
            <td>{{ text_refund }}</td>
            <td>
              <form method='post'>
                <input type="submit" name="refund" value="{{ text_refund }}"></input>
              </form>
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>
